.fticon{
	float:left;
	display:inline-block;
}

.fticon .link{
    width: 100%;
    height: 50px;
    display: block;

		/*background:no-repeat center;
		background-size:24px;
		background-position: top;
		text-align: center;
		padding-top: 24px;*/
}
/***********节日***********/
.fticon .holiday{
		background:no-repeat center;
		background-size:24px;
		background-position: top;
		text-align: center;
		padding-top: 27px;
}

.fticon.dark .link.on{
    background-color:#ff5555;
}

.fticon .link .tabIcon{
	width:24px;
	height:24px;
	margin-left:auto;
	margin-right:auto;
	background:no-repeat center;
	background-size:24px;
}

.fticon .link span{
	display:block;
	width:100%;
	text-align:center;
	margin-top:3px;
	color:#666;
}
.fticon.theme_blue .link.on span{
	color: #2da8e1;
}
.fticon.theme_red .link.on span{
	color: #ff6060;
}
.fticon.theme_yellow .link.on span{
	color: #ffc600;
}
.fticon.theme_orange .link.on span{
	color: #ff6000;
}



.fticon.theme_blue .home .tabIcon{
	background-image:url("./images/common/bottomtabs/home.png");
}
.fticon.theme_blue .home.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_blue_home_on.png")
}

.fticon.theme_blue .addressbook .tabIcon{
	background-image:url("./images/common/bottomtabs/addressbook.png")
}
.fticon.theme_blue .addressbook.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_blue_addressbook_on.png")
}

.fticon.theme_blue .community .tabIcon{
	background-image:url("./images/common/bottomtabs/community.png")
}
.fticon.theme_blue .community.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_blue_community_on.png")
}

.fticon.theme_blue .me .tabIcon{
	background-image:url("./images/common/bottomtabs/me.png")
}
.fticon.theme_blue .me.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_blue_me_on.png")
}



.fticon.theme_red .home .tabIcon{
	background-image:url("./images/common/bottomtabs/home.png");
}
.fticon.theme_red .home.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_red_home_on.png")
}

.fticon.theme_red .addressbook .tabIcon{
	background-image:url("./images/common/bottomtabs/addressbook.png")
}
.fticon.theme_red .addressbook.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_red_addressbook_on.png")
}

.fticon.theme_red .community .tabIcon{
	background-image:url("./images/common/bottomtabs/community.png")
}
.fticon.theme_red .community.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_red_community_on.png")
}

.fticon.theme_red .me .tabIcon{
	background-image:url("./images/common/bottomtabs/me.png")
}
.fticon.theme_red .me.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_red_me_on.png")
}



.fticon.theme_yellow .home .tabIcon{
	background-image:url("./images/common/bottomtabs/home.png");
}
.fticon.theme_yellow .home.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_yellow_home_on.png")
}

.fticon.theme_yellow .addressbook .tabIcon{
	background-image:url("./images/common/bottomtabs/addressbook.png")
}
.fticon.theme_yellow .addressbook.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_yellow_addressbook_on.png")
}

.fticon.theme_yellow .community .tabIcon{
	background-image:url("./images/common/bottomtabs/community.png")
}
.fticon.theme_yellow .community.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_yellow_community_on.png")
}

.fticon.theme_yellow .me .tabIcon{
	background-image:url("./images/common/bottomtabs/me.png")
}
.fticon.theme_yellow .me.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_yellow_me_on.png")
}
.fticon.theme_orange .home .tabIcon{
	background-image:url("./images/common/bottomtabs/home.png");
}
.fticon.theme_orange .home.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_orange_home_on.png")
}

.fticon.theme_orange .addressbook .tabIcon{
	background-image:url("./images/common/bottomtabs/addressbook.png")
}
.fticon.theme_orange .addressbook.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_orange_addressbook_on.png")
}

.fticon.theme_orange .community .tabIcon{
	background-image:url("./images/common/bottomtabs/community.png")
}
.fticon.theme_orange .community.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_orange_community_on.png")
}

.fticon.theme_orange .me .tabIcon{
	background-image:url("./images/common/bottomtabs/me.png")
}
.fticon.theme_orange .me.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_orange_me_on.png")
}

.fticon.theme_purple .home .tabIcon{
	background-image:url("./images/common/bottomtabs/home.png");
}
.fticon.theme_purple .home.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_purple_home_on.png")
}

.fticon.theme_purple .addressbook .tabIcon{
	background-image:url("./images/common/bottomtabs/addressbook.png")
}
.fticon.theme_purple .addressbook.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_purple_addressbook_on.png")
}

.fticon.theme_purple .community .tabIcon{
	background-image:url("./images/common/bottomtabs/community.png")
}
.fticon.theme_purple .community.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_purple_community_on.png")
}

.fticon.theme_purple .me .tabIcon{
	background-image:url("./images/common/bottomtabs/me.png")
}
.fticon.theme_purple .me.on .tabIcon{
	background-image:url("./images/common/bottomtabs/theme_purple_me_on.png")
}
