.fticon{
	float:left;
	display:inline-block;
}

.fticon .link{
    width: 100%;
    height: 1rem;
    display: block;
}

.fticon.dark .link.on{
    background-color:#ff5555;
}

.fticon .link .tabIcon{
	width:.48rem;
	height:.48rem;
	margin-left:auto;
	margin-right:auto;
	background:no-repeat center;
	background-size:.48rem;
}

.fticon .link span{
	display:block;
	width:100%;
	text-align:center;
	margin-top:.06rem;
	color:#999;
}
.fticon .link.on span{
	color: #333;
}
.fticon.theme_blue .link.on span{
	color: #2da8e1;
}
.fticon.theme_red .link.on span{
	color: #ff6060;
}
.fticon.theme_yellow .link.on span{
	color: #ffc600;
}
.fticon.theme_orange .link.on span{
	color: #ff6000;
}

.fticon .documentary .tabIcon{
	background-image:url("./images/common/bottomtabs/documentary.png")
}
.fticon .documentary.on .tabIcon{
	background-image:url("./images/common/bottomtabs/documentary_on.png")
}

.fticon .optional .tabIcon{
	background-image:url("./images/common/bottomtabs/optional.png")
}
.fticon .optional.on .tabIcon{
	background-image:url("./images/common/bottomtabs/optional_on.png")
}

.fticon .trade .tabIcon{
	background-image:url("./images/common/bottomtabs/trade.png")
}
.fticon .trade.on .tabIcon{
	background-image:url("./images/common/bottomtabs/trade_on.png")
}

.fticon .me .tabIcon{
	background-image:url("./images/common/bottomtabs/me.png")
}
.fticon .me.on .tabIcon{
	background-image:url("./images/common/bottomtabs/me_on.png")
}
