.accounts{
    max-height: 6rem;
    overflow: auto;
}
.bottom_pop {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: .3rem;
    box-shadow: 0 0 0.35rem rgba(0,0,0,.1);
}
.pop_tit {
    line-height: .36rem;
    border-bottom: 1px solid #eee;
    padding: .3rem;
}
.radius_box{
	margin:.3rem;
	padding: .3rem .2rem;
	background: #fff;
	border-radius: .1rem;
	overflow: hidden;
	border:1px solid #fff;
	box-shadow: 0 0 .38rem rgba(0,0,0,.1);
}
.radius_box.on{
	border:1px solid #647dce;
}
.copy_btn{
	width: 3rem;
	margin: 0 auto;
}
.copy_btn button {
	height: .64rem;
	line-height: .64rem;
	border-radius: .5rem;
	background: #647dce;
	color: #fff;
	width: 100%;
	font-size: .28rem;
	border: none;
	box-shadow: 0 0 0.2rem rgba(26,46,107,.2);
}