.tj_list{

     td {
        border: 1px solid #eee;
    }
    
     td {
        padding-bottom: .15rem;
        padding-top: .05rem;
    }
    p {
        margin-top: .1rem;
        text-align: center;
    }

}
