
.hysyy_footer{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:48px;
	padding-top:11px;
	background-color:#fff;
	border-top:1px solid #eee;
}
.hysyy_fticon{
	float:left;
	display:inline-block;
	width:49.9%;
}
.hysyy_fticon a img{
	width:24px;
	height:24px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.hysyy_fticon a span{
	display:block;
	width:100%;
	text-align:center;
	margin-top:3px;
	color:#666;
}
.hysyy_fticon .p_xx_font{ color:#999}
.hysyy_fticon a.on span{
	color: #2da8e1;
}

.hysyy_fticon a .icon {
    overflow: hidden; width:24px; height:24px; margin:0 auto;
}
.icon_rc_on{ background: url(./images/dk_img/fticon01_dk_on.png) no-repeat center; background-size:24px; width: 24px; height: 24px;}
.icon_rc_gary{ background: url(./images/dk_img/fticon01_dk.png) no-repeat center; background-size:24px; width: 24px; height: 24px;}
.icon_hys_gary{ background: url(./images/dk_img/fticon02_dk.png) no-repeat center; background-size:24px; width: 24px; height: 24px; }
.icon_hys_on{ background: url(./images/dk_img/fticon02_dk_on.png) no-repeat center; background-size:24px; width: 24px; height: 24px; }
.icon_xx_gary{ background: url(./images/dk_img/fticon03_dk.png) no-repeat center; background-size:24px; width: 24px; height: 24px;}
.icon_xx_on{ background: url(./images/dk_img/fticon03_dk_on.png) no-repeat center; background-size:24px; width: 24px; height: 24px;}
.icon_gd_gary{ background: url(./images/mtplatform/hysyy_fticon04.png) no-repeat center; background-size:24px; width: 24px; height: 24px; }
.icon_gd_on{ background: url(./images/mtplatform/hysyy_fticon04_on.png) no-repeat center; background-size:24px; width: 24px; height: 24px; }

.hysyy_fticon .icon > .icon_xxzx_blue {
    position: relative;
    left: -24px;
    border-right: 24px solid transparent;
    -webkit-filter: drop-shadow(24px 0 0px #3492e9);
    filter: drop-shadow(24px 0 0px #3492e9);
	width: 24px; height: 24px;
}
.hysyy_fticon a{ position:relative; display:block}
.index_count01{ background:#f62408; width:6px !important; height:6px; border-radius:60px; text-align:center; color:#fff; position:absolute !important; top:0%; font-family:Arial, Helvetica, sans-serif; right:34%}
.p_xx_blue{ color:#3492e9;}
