.frame{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:1000;
    overflow: auto;
}
.frame.hidden{
    display: none;
}
.frame.transparent{
    background-color:transparent;
}
.frame.mask{
    background-color:rgba(0,0,0,0.6);
}
.frame.zindex1001{
    z-index: 1001;
}
.frame.zindex1002{
    z-index: 1002;
}
.frame.isabs{
    position: absolute;
}
.bg_gray{
  background-color:#f0f1f5;
  /*background-color:#f5f5f5;*/
}
