


.tabs {
    font-size: .36rem;
    line-height: .88rem;
    font-weight: bold;
}
.tabs .item{
    color: #c3c3c3;
    font-weight: 100;
    margin: 0 .2rem;
    position: relative;

    &.on{
        font-weight: bold;
        color: #fff;

        i{
        	position: absolute;
        	left:50%;
        	margin-left: -.35rem;
        	bottom:-.05rem;
        	width: .72rem;
        	height: .04rem;
        	background: #fff;
        	border-radius: .06rem;
        }
    }
}





.kchat{
    height:4.2rem;
    background:#fff;
}
.kchatFull{
	position: absolute;
	top:1.69rem;
	bottom: 0;
	left: 0;
	right: 0;

    background:#fff;
}

.icon_intro_list{
	width:.32rem;
	height: .32rem;
	background: url("./images/optional/icon-instruction-black.png") no-repeat;
	background-size: 100%;
	float: left;
	margin-top: .1rem;
}
.icon_full_screen{
	width:.32rem;
	height: .32rem;
	background: url("./images/optional/icon-full-black.png") no-repeat;
	background-size: 100%;
	float: right;
	margin-top: .3rem;
}

.bottom_btn_fixed{
	padding: .2rem 0;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}
.bt_btn_50 .btn_blue {
    margin-left: .3rem;
    height: .88rem;
    line-height: .88rem;
    border-radius: .5rem;
    background: #647dce;
    color: #fff;
    width: 3.3rem;
    font-size: .36rem;
    border: none;
    float: left;
    box-shadow: 0 0 0.2rem rgba(26,46,107,.2);

}

.bt_btn_50 .btn_grey {
    margin-left: .3rem;
    height: .88rem;
    line-height: .88rem;
    border-radius: .5rem;
    background: #aaa;
    color: #fff;
    width: 3.3rem;
    font-size: .36rem;
    border: none;
    float: left;
    box-shadow: 0 0 0.2rem rgba(26,46,107,.2);
    
}

.nowprice {
    margin-left: .3rem;
    height: .88rem;
    line-height: .88rem;
    border-radius: .5rem;
	text-align: center;
    color: black;
    width: 3.3rem;
    font-size: .36rem;
    border: none;
    float: left;

}