.tabs {
    font-size: .3rem;
    line-height: .88rem;
    font-weight: bold;
}
.tabs .item{
    color: #c3c3c3;
    font-weight: 400;
    padding: 0 .5rem;
    position: relative;

    &.on{
        color: #fff;

        i{
        	position: absolute;
            left: 50%;
            margin-left: -0.35rem;
            bottom: -0.15rem;
            width: .72rem;
            height: .03rem;
            background: #fff;
            border-radius: .06rem;
        }
    }
}

.header{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 2.5rem;
    background: url(./images/me/bg-img02.png) no-repeat;
    background-size: 100%;
    z-index: -1;

    
}


