.search_inner{
	padding-left: .5rem;
	border:1px solid #ddd;
	border-radius: .5rem;
	height: .72rem;
	line-height: .72rem;
	margin: 0 .3rem;
	position: relative;
}
.search_inner input{
	height: .72rem;
	line-height: .72rem;
	padding: 0;
	margin: 0;
	border:none;
	background:none;
	font-size: .28rem;
	float: left;
}
.search_delete{
	width: .36rem;
	height: .36rem;
	display: block;
	position: absolute;
	right: .3rem;
	top: 50%;
	margin-top: -.18rem;
	background: url("./images/common/searchbar/icon-delete-black.png") no-repeat;
	background-size: 100%;
}