.li {
    border-bottom: 1px solid #eee;
    padding: 8px 10px;
    min-height: 32px;
    line-height: 32px;
}
.icon {
    float: left;
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}
.icon.about{
    background-image:url("./images/work/me/about.png");
}
.icon.advice{
    background-image:url("./images/work/me/advice.png");
}
.icon.intro{
    background-image:url("./images/work/me/intro.png");
}
.icon.gesture{
    background-image:url("./images/work/me/gesture.png");
}
.icon.resetGesture{
    background-image:url("./images/work/me/resetGesture.png");
}
.arrow{
    float: right;
    width: 12px;
    height: 18px;
    display: block;
    margin-top: 5px;
    background: url('./images/work/me/arrow01.png') no-repeat;
    background-size: 12px 18px;
}
.rightBox{
    float:right;
}
