li.item{
    padding: .35rem 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.header{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 0.15rem rgba(173, 174, 181, 0.3);
}
.changePhotoFrame{

}
.changePhoto{
    width: 1rem;
    height: 1rem;
    box-shadow: 0 0 0.15rem rgba(173, 174, 181, 0.3);
}
