li.item{
    padding: .3rem 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.input{
    border: 1px solid #aaa;
    border-radius: .1rem;
    width:90%;
    padding:.1rem .2rem;
    line-height: .5rem;
}
.header{
    width: 1rem;
    height: 1rem;
}