
.frame{

    /*font-weight: bold;*/
    color:#333;
}

.node{

    line-height: 200%;
    padding-left: 0px;
    font-size:1.2em;
    /*width: 180px;*/
    /*overflow: hidden;
    text-overflow: ellipsis;*/
    white-space: nowrap;
}

.node.parent{
    padding-left: 0px;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left center;
}

.node.parent.open{
    background-image:url(./images/xzcy_sq.png);
}
.node.parent.select{
    /*background-color:#eee;*/
    color:#3492e9;
}
.node.parent.close{
    background-image:url(./images/xzcy_zk.png);
}
.lefticon{
  width: 18px;
  height: 100%;
  display: inline-block;
}
.rightname{
    height: 100%;
    display: inline-block;
    margin-left: 4px;
}

.node.leaf.select{
    /*background:#eee;*/
      color:#3492e9;

}

.subNode{
    padding-left:10px;
}

@media(max-width: 375px){

  .node.parent{
      background-size: 16px;
  }

}
@media(max-width: 320px){
  .node{
      line-height: 200%;
      padding-left: 0px;
      /*width: 150px;*/
      font-size:1.1em;
  }
  .node.parent{
      background-size: 14px;
  }
  .rightname{
      margin-left: 2px;
  }
}
