.optional_list{
    position:absolute;
    top:.73rem;
    left:0;
    right:0;
    bottom:0;
    overflow: auto;
}
.op_sort_li{
	border-bottom: 1px solid #ddd;
	padding: .3rem 0 .3rem 0 !important;
	margin: 0 .3rem 0 .3rem;
	width: auto !important;
}
.optional_list li{
	width: 100%;
	overflow: hidden;
	padding-top: .56rem;
}
.currency_name{
	margin-left: .3rem;
	float: left;
}
.currency_name .c3{
	font-size: .36rem;
	margin-bottom: .1rem;
}
.list_left_icon{
	float: left;
	width: .44rem;
	height: .44rem;
	margin-top: .1rem;
}
.list_left_icon .icon_delete_red{
	width: .44rem;
	height: .44rem;
}
.list_right_icon{
	float: right;
	margin-top: .1rem;
}
.list_right_icon .icon_sort{
	width: .44rem;
	height: .44rem;
}
.icon_delete_red{
	background: url("./images/optional/icon-delete-red.png") no-repeat;
	background-size: 100%;
}
.icon_sort{
	background: url("./images/optional/icon-sort-gray.png") no-repeat;
	background-size: 100%;
}