li.item{
	width: 100%;
	overflow: hidden;
	padding-top: .56rem;
    background-color: #fff;
}

.currency_name{
	margin-left: .3rem;
	float: left;
}
.currency_name .c3{
	font-size: .36rem;
	margin-bottom: .1rem;
}
.currency_price{
	float: right;
	margin-right: .3rem;
	position: relative;
}
.price_box{
	border-radius: .06rem;
	width:1.68rem;
	padding-bottom: .07rem;
	padding-top: .07rem;
	float: left;
	margin: 0 .2rem;
	color: #fff;
}
.text{
    margin:0 .06rem;
}
.middle{
	position: absolute;
	left:50%;
	top:50%;
	height:.34rem;
	width:.6rem;
	line-height: .34rem;
	background-color: #fff;
	text-align: center;
	margin-left: -.3rem;
	margin-top:-.17rem;
	border-radius: .1rem;
}

.price_box.buy{
	text-align: center;
    background: #ff4433;
}
.price_box.sell{
	text-align: center;
	background: #00bf3f;
}
.price_box.close{
	background: #b6b6b6;
}
.price_box span.font50{
	font-size: .5rem;
}
.mk_close{
	color: #999;
    position: absolute;
    right: 0;
    top: -.32rem;
    font-style: normal;
}
.gradient_red{
	background: -webkit-linear-gradient(left, white ,rgba(255,68,51,0.2) 60%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, white, rgba(255,68,51,0.2) 60%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, white, rgba(255,68,51,0.2) 60%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, white , rgba(255,68,51,0.2) 60%); /* 标准的语法 */
}
.gradient_green{
	background: -webkit-linear-gradient(left, white , rgba(0,191,63,0.2) 60%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, white, rgba(0,191,63,0.2) 60%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, white, rgba(0,191,63,0.2) 60%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, white , rgba(0,191,63,0.2) 60%); /* 标准的语法 */
}