.ht_gray {
    height: .2rem;
    background: #f1f1f1;
}
.subtabs span{
    position: relative;
    font-size: .26rem;
    margin: 0 .3rem;

    &.on{
        font-weight: bold;
        color: #333;

        i {
            position: absolute;
            left: 50%;
            margin-left: -.35rem;
            bottom: -.05rem;
            width: .72rem;
            height: .04rem;
            background: #333;
            border-radius: .06rem;
        }
    }
}