.ejia_welcome_word{ padding:3% 6%;}
.welcome_title{ color:#3492e9; font-size:0.38rem; font-weight:bold; margin-bottom:0.36rem; margin-top:0.3rem}
.welcome_title p{ text-align:center; line-height:0.38rem;}
.welcome_down_line{ background:#3492e9; width:0.6rem; height:0.04rem; display:block; margin:0.2rem auto 0;}
.welcome_detail p{ font-size:0.28rem; color:#666; line-height:0.48rem;}
.welcome_img{ width:2.9rem; height:2.86rem; overflow:hidden; margin-left:0.8rem; margin-top:1.4rem}
.welcome_img img{ width:100%; height:100%;}
.welcome_logo{ background:url(./images/logo_wbg.png) no-repeat center; width:2.3rem; height:2.5rem; background-size:contain; margin:1.6rem auto 0}
