@charset "utf-8";

/* CSS Document */

html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #333;
    font-family: Microsoft Yahei, tahoma, arial, 宋体;
    font-size: .24rem;
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: 1;
}

body, ul, p {
    margin: 0;
    padding: 0;
    text-align: left
}

a {
    color: #333;
    text-decoration: none;
}

html,body{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div,span,h1, h2, h3, h4, h5, h6{
    -webkit-user-select: none;
}

.clear {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/*@font-face {
    font-family: "明黑";
    src: url(../font/明黑_R_0.ttf);
}*/

textarea, input, select{
	font-family:Microsoft Yahei, tahoma, arial, 宋体;
}
input::placeholder{
	color: #999;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
::-webkit-scrollbar{width:0;height:0}
.outerwrap {
    padding: 0;
    min-width: 320px;
    margin: 0 auto;
}

.viewport-new {
    position: relative;
    min-width: 320px;
    margin: 0 auto;
}

body.hidden {
    overflow: hidden;
}
.left {
	float: left;
}
.right {
	float: right;
}
.g_main{
  margin-bottom:1rem;
  min-height: .02rem;
}
/*留出了appeader和bottomtab*/
.g_content{
    position: fixed;
    top: 45px;
    bottom: 60px;
    left: 0;
    right: 0;
    overflow: auto;
    margin: 0 auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
}
/*留出了appeader 不留bottomtab*/
.g_full_content{
    position:fixed;
    top:45px;
    bottom:0;
    left:0;
    right:0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
}
.g_full_content_no_scroll{
  position:fixed;
  top:65px;
  bottom:0;
  left:0;
  right:0;
  overflow: auto;
  overflow-x: hidden;
}
/*留出了appeader 不留bottomtab*/
.g_full_content_bggray{
    position:fixed;
    top:45px;
    bottom:0;
    left:0;
    right:0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
    background-color: #f0f1f5;
}
/*不留appeader 不留bottomtab*/
.g_fullscreen_content{
    position:fixed;
    top:0px;
    bottom:0;
    left:0;
    right:0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
}
/*留出了appeader 留bottomtab*/
.g_full_content_bggray_withbottom{
    position:fixed;
    top:45px;
    bottom:59px;
    left:0;
    right:0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
    background-color: #f0f1f5;
}
/*留出了appeader 留bottomtab*/
.g_full_content_noheader_withbottom{
    position:fixed;
    top:0px;
    bottom:59px;
    left:0;
    right:0;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
    background-color: #f0f1f5;
}


.red {
	color:#ff4433;
}
.white{
	color:#fff
}
.green{
	color:#00bf3f
}
.blue{
	color: #647dce;
}
.coffee{
	color: #c5a187;
}
.c9 {
	color:#999;
}
.c6{
	color:#666
}
.left {
	float: left;
}
.right {
	float: right;
}
.center{
	text-align: center;
}
.font24{
	font-size: .24rem;
}
.font28{
	font-size: .28rem;
}
.font26{
	font-size: .26rem;
}
.font30{
	font-size: .3rem;
}
.font32{
	font-size: .32rem;
}
.font36{
	font-size: .36rem;
}
.font48{
	font-size: .48rem !important;
}
.font56{
	font-size: .56rem;
}
.font-arial{
	font-family: arial;
}
.vertical-top{
	vertical-align: top;
}
.text-al-right{
	text-align: right;
}
.mg-lr-30{
	margin: 0 .3rem;
}
.overf-hid{
	overflow: hidden;
}
.clear-bth{
	clear: both;
}
.bd-tp{
	border-top:1px solid #ddd;
}
.mg-lr-30{
	margin: 0 .3rem;
}
.mg-lr-50{
	margin: 0 .5rem;
}
.mg-bt-30{
	margin-bottom:.3rem;
}
.mg-bt-20{
	margin-bottom:.2rem;
}
.mg-bt-10{
	margin-bottom:.1rem;
}
.mg-rt-10{
	margin-right:.1rem;
}
.mg-tp-10{
	margin-top: .1rem;
}
.mg-tp-0{
	margin-top: 0;
}
.mg-tp-20{
	margin-top: .2rem;
}
.mg-tp-30{
	margin-top: .3rem;
}
.mg-tp-42{
	margin-top: .42rem;
}
.mg-tb-42{
	margin: .42rem 0;
}
.mg-tb-20{
	margin: .2rem 0;
}
.mg-bt-20{
	margin-bottom: .2rem;
}
.mg-bt-30{
	margin-bottom: .3rem;
}
.mg-bt-40{
	margin-bottom: .4rem;
}
.mg-tb-56{
	margin: .56rem 0;
}
.mg-lt-0{
	margin-left: 0;
}
.mg-rt-0{
	margin-right: 0;
}
.mg-lt-140{
	margin-left: 1.4rem;
}
.pd-tp-0{
	padding-top: 0 ;
}
.pd-tp-10{
	padding-top: .1rem;
}
.pd-tp-20{
	padding-top: .2rem;
}
.pd-bt-20{
	padding-bottom: .2rem;
}
.pd-bt-88{
	padding-bottom: .88rem;
}
.pd-tp-40{
	padding-top: 4rem !important;
}
.pd-tp-50{
	padding-top: 5rem !important;
}
.pd-tp-58{
	padding-top: 5.8rem !important;
}
.pd-rt-20{
	padding-right: .2rem;
}
.pd-rt-30{
	padding-right: .3rem;
}
.line-ht-48{
	line-height: .48rem;
}
.line-ht-36{
	line-height: .36rem;
}
.font_bold{
	font-weight: bold;
}
.text-al-center {
    text-align: center;
}