.box {
    margin-bottom: 15px;
    border-radius: 5px;
}
.box span.button {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #3492E9;
    background: #3492E9;
    color: #fff;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-family: Microsoft Yahei, tahoma, arial, 宋体;
    font-size: 1.5em;
}
.box span.button.rect{
    border-radius: 3px;
}
.box span.button.round{
    border-radius: 20px;
}
