.frame{
    position: absolute;
    top:1.2rem;
    left:0;
    right:0;
    bottom:0;
}

.optional_detail {
    margin: 0 .3rem 0 .3rem;
    background: #fff;
    border-radius: .1rem;
    overflow: hidden;
    box-shadow: 0 0 0.38rem rgba(0,0,0,.1);

    .currency_name{
        margin-top: .36rem;
        margin-left: .3rem;
        float: left;

        .c3{
            margin-bottom: .15rem;
        }
    }
}

.icon_account {
    border: 1px solid #647dce;
    height: .54rem;
    line-height: .54rem;
    padding: 0 .2rem;
    border-radius: .5rem;
    color: #647dce;
    margin-top: .3rem;
    margin-right: .3rem;
    box-shadow: 0 0 0.15rem rgba(1,51,144,.3);
}

.account_dt {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding: .3rem 0 .42rem 0;
    margin: .3rem .3rem 0 .3rem;
}

.account_dt li {
    float: left;
    width: 50%;
}

.account_dt li p {
    text-align: center;
}

.icon_select {
    width: .2rem;
    height: .2rem;
    background: url(./images/trade/arrow-select-black.png) no-repeat;
    background-size: 100%;
    float: left;
    margin-left: .1rem;
}



.detail_info{
    margin-top: .3rem;
    background-color: #fff;
}

div.fixed{
    position: fixed;
    top:1.2rem;
    left:0;
    right:0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}