.item{
    font-size: .26rem;
    display: inline-block;
    color: #999;
    line-height: 28px;
    text-align: center;
    border:1px solid #f1f1f1;
    border-left:none;
    margin:8px 0;
    background-color: #f1f1f1;
}
.item:first-child{
    border-left: 1px solid #f1f1f1;
    border-radius: 6px 0 0 6px;
}
.item:last-child{
    border-right: 1px solid #f1f1f1;
    border-radius: 0 6px 6px 0;
}
.item.on{
    background-color: #fff;
    color:#000;
}