.item{
	position: relative;
	width: 25%;
	color: #999;
	font-size: .3rem;
    text-align: center;
    margin:.4rem 0;
    display: inline-block;
}
.item.on i{
	position: absolute;
	left: 50%;
	margin-left: -.3rem;
	bottom: -.1rem;
	width: .6rem;
	height: .04rem;
	background: #647dce;
	border-radius: .06rem;
}
.item.on{
	color: #333;
}