.infoli{list-style-type: none;
    padding: 2%;
  }
.infoli .infoitem{overflow: hidden;
    height: 2em;
  }
.infoli .infoitem .text{float: left;
    font-size: 1.3em;
    line-height: 1.3em;
  }
    @media(max-width: 375px){
    .infoli .infoitem .text{font-size: 1.2em;}

    }
    @media(max-width: 320px){
    .infoli .infoitem .text{font-size: 1.1em;}

    }
